# Virtual environments
venv/
.venv/

# Bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets & env
.env
*.json
google_service_key.json
plasma-crossbar-444405-q6-e72a3a1af12b.json

# OS / IDE
.DS_Store
.idea/
*.log
